.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: green;
        
        span{
            font-size: 80px;
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width: 38px;
                height: 38px;
            }
        }
    }
}